:root {
    --custom-margin: -6px;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.output-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vmin;
    height: 30vmin;
    background-color: rgb(27, 140, 233);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    margin: 1rem;
}

.score-box {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: 244px;
    background-color: rgb(180, 137, 18);
    border: 2px solid black;
    box-shadow:  4px 4px 0px 0px rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

#comScore,
#youScore,
#uWinner {
    margin-top: var(--custom-margin);
}

#para1 {
    margin: -2px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 2rem;
    width: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin: 2px;
    border: 2px solid red;
}

#re-btn {
    margin-top: 15px;
    width: 170px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 19px;
    text-transform: uppercase;
    min-height: 45px;
}

button:hover {
    letter-spacing: 2px;
    font-size: 20px;
    background-color: rgb(238, 228, 85);
    cursor: pointer;
}